html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;  
  width: 100vw;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align content to top */
  align-items: center;         /* center horizontally */
  padding-top: 3rem;
  width: 100vw;
  height: 100vh;               /* force full screen height */
  box-sizing: border-box;
}

.center-container.dark input[type='text'] {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.center-container.light input[type='text'] {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.center-container.dark {
    background-color: #2f2f2f;
    color: #fafafa;
}

.center-container.light {
    background-color: #f9f9f9;
    color: #000;
}

/* Used to set the appearance of the text within the app*/
.App {
  max-width: 600px;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.input-group, .checkbox-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.light .checkbox-group input[type="checkbox"] {
  accent-color: #1976d2;
  color: white;
}

.dark .checkbox-group input[type="checkbox"] {
  accent-color: #90caf9; /* lighter blue */
  background-color: #333;
  border: 1px solid #666;
}



/* Button styles */

button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

.dark button {
    background-color: #90caf9; /* lighter blue */
    color: #333;

}

.dark button:hover{
    background-color: #96cff3;
}


/* Results styles */
.results {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #000000;
  border-left: 4px solid #1976d2;
  border-radius: 6px;
}

